PORT=

DB_USER=
DB_HOST=
DB_NAME=
DB_PASSWORD=
DB_PORT=

OPENAI_API_KEY=
GOOGLE_GENERATIVE_AI_API_KEY=
XAI_API_KEY=
ANTHROPIC_API_KEY=
DEEPSEEK_API_KEY=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
FRONTEND_BASE_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


MAX_LIMIT_RESULTS=

STRIPE_SECRET_KEY=
STRIPE_SIGNING_SECRET=

FREE_PLAN_PREMIUM_CREDITS=
FREE_PLAN_CREDITS=  

PREMIUM_PLAN_PREMIUM_CREDITS=
PREMIUM_PLAN_CREDITS=

SUBSCRIPTION_DURATION_DAYS=